{% extends 'Http/_Infrastructure/_Layout.twig' %}

{% set message = flash('LoginFormMessage') %}
{% if message[0] is defined %}
    {% set message = message[0] %}
{% endif %}

{% set message %}
    {% if message['status'] is defined %}
        {% set title = 'There was a problem' %}
        {% set class = 'bg-red-300 border-red-500' %}
        {% set textColorClass = 'text-red-900' %}
        {% if message.status == 'SUCCESSFUL' %}
            {% set title = 'Success!' %}
            {% set class = 'bg-green-100 border-green-400' %}
            {% set textColorClass = 'text-green-700' %}
        {% endif %}
        <div
            class="{{ class }} border mb-6 px-4 py-3 rounded relative"
            role="alert"
        >
            <p class="mb-1 {{ textColorClass }}">
                <strong class="font-bold">
                    {{ title|smartypants|widont }}
                </strong>
            </p>
            <p>
                {{ message.result.message|default('')|smartypants|widont }}
            </p>
        </div>
    {% endif %}
{% endset %}

{% block content %}
    <div class="min-h-screen bg-gray-50 flex flex-col justify-center sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="text-center text-3xl leading-9 font-extrabold text-gray-900">
                Request Password Reset
            </h2>
        </div>
        <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form
                    method="POST"
                    accept-charset="UTF-8"
                >
                    <input type="hidden" name="{!--csrfTokenNameKey--}" value="{!--csrfTokenName--}">
                    <input type="hidden" name="{!--csrfTokenValueKey--}" value="{!--csrfTokenValue--}">
                    {{ message|raw }}
                    <div>
                        <label for="email_address" class="block text-sm font-medium leading-5 text-gray-700">
                            Email address
                        </label>
                        <div class="mt-1 rounded-md shadow-sm">
                            <input name="email_address" id="email_address" type="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                        </div>
                    </div>
                    <div class="mt-6">
                        <span class="block w-full rounded-md shadow-sm">
                            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                Request Reset Email
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

