{# @var \App\Context\Shows\Models\ShowModel show #}
{# @var \App\Context\Episodes\Models\EpisodeModel[] drafts #}
{# @var \App\Context\Episodes\Models\EpisodeModel[] scheduled #}
{# @var \App\Context\Episodes\Models\EpisodeModel[] published #}

{% extends 'Http/_Infrastructure/_LayoutCms.twig' %}

{% set actionButton %}
    {% include 'Http/CMS/_Infrastructure/Includes/PageActionButton.twig' with {
        content: 'New Episode',
        href: '/cms/shows/episodes/' ~ show.id ~ '/new',
    } only %}
{% endset %}

{% macro table(episodes, sectionTitle) %}
    {# @var \App\Context\Episodes\Models\EpisodeModel[] episodes #}

    {# @var \App\Context\Users\Models\LoggedInUser user #}
    {% set user = fetchLoggedInUser() %}

    <div>
        <div class="flex flex-col">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <h3 class="text-xl mb-2">
                    {{ sectionTitle|smartypants|widont }}
                </h3>
                <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Title
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Episode Number
                                </th>
                                {% if sectionTitle == 'Scheduled' %}
                                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                        Publish At
                                    </th>
                                {% endif %}
                                {% if sectionTitle == 'Published' %}
                                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                                {% endif %}
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                        {% for episode in episodes %}
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <a href="/cms/shows/episodes/{{ episode.show.id }}/edit/{{ episode.id }}" class="block flex items-center">
                                        <div class="text-sm leading-5 font-medium text-gray-900">
                                            {% if episode.title %}
                                                {{ episode.title|smartypants|widont }}
                                            {% else %}
                                                Draft
                                            {% endif %}
                                        </div>
                                    </a>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">
                                        {% if episode.number > 0 %}
                                            {{ episode.number }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </td>
                                {% if sectionTitle == 'Scheduled' %}
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-sm leading-5 text-gray-900">
                                            {{ episode.publishAt.setTimezone(user.model.timezone).format('Y-m-d h:i A') }}
                                        </div>
                                    </td>
                                {% endif %}
                                {% if sectionTitle == 'Published' %}
                                    <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                                        <a href="{{ episode.publicUrl }}" class="text-night-owl-red hover:text-night-owl-dark-red">View Page</a>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                                        <a href="/cms/shows/episodes/{{ episode.show.id }}/stats/{{ episode.id }}" class="text-night-owl-red hover:text-night-owl-dark-red">Stats</a>
                                    </td>
                                {% endif %}
                                <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                                    <a href="/cms/shows/episodes/{{ episode.show.id }}/edit/{{ episode.id }}" class="text-night-owl-red hover:text-night-owl-dark-red">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block cmsContent %}
    <div class="text-right">
        {{ actionButton }}
    </div>
    {% if drafts|length > 0 %}
        <div class="mt-4">
            {{ _self.table(drafts, 'Drafts') }}
        </div>
    {% endif %}
    {% if scheduled|length > 0 %}
        <div class="mt-4">
            {{ _self.table(scheduled, 'Scheduled') }}
        </div>
    {% endif %}
    {% if published|length > 0 %}
        <div class="mt-4">
            {{ _self.table(published, 'Published') }}
        </div>
    {% endif %}
    <div class="mt-4 text-right">
        {{ actionButton }}
    </div>
{% endblock %}
